// import common variables
@import 'common';


/*  Basic setings
/*   *   *   *   *   *   *   *   *   *   */

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: $font-size;
    font-weight: 300;
}

html {

    scroll-behavior: smooth;
}

body {

    text-align: justify;
    color: $font-color;

    background-color: $c-primary;
}

#root::-webkit-scrollbar {
    width: 0.33rem;
}

#root::-webkit-scrollbar-track {
    background-color: $c-dark;
}

#root::-webkit-scrollbar-thumb {
    background-color: $c-active;
}

#root {

    overflow-x: hidden;
    overflow-y: scroll;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}


/*  Layout setings
/*   *   *   *   *   *   *   *   *   *   */

@import 'layout/navbar';

@import 'layout/view';